@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vw;


}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 760px;
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto;
  background-color: rgb(216, 213, 221);
}

.actor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  width: 40vw;
  min-width: 400px;
  font-size: 14px;
  padding-left: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgb(104, 71, 201);


}

.actor img {
    border: 1px solid rgb(183, 145, 248);
    border-radius: 5px;
    height: 70%;
    align-self: center;
}

.actor__lang-name {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.7vw;
  padding-left: 0.5vw;
  width: 150px;
  /* border: 1px solid red; */
}


.actor__name {
  /* padding-left: 0.5vw; */
  font-family: 'Noto Sans', sans-serif;
  font-size: 22px;
  font-weight: 700;
}

.actor__lang {
  display: flex;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.actor__s {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
}

.actor__sample {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid; */
}


.actor__player {
  display: flex;
}

.play__icon {
  width: 20px;
  height: 20px;
  background-image: url("./img/png/play.png");
  background-size: contain;
  border: 0;
  background-color: white;
} 

.actor__order-btn {
  margin-right: 1.5vw;
  width: 100px;
  height: 40px;
  background-image: linear-gradient(135deg, rgb(93, 205, 255), rgb(181, 112, 255));
  border-radius: 7px;
  border: 0;
  transition: linear 0.2s;
}

.actor__order-btn:hover {
  background-image: linear-gradient(5deg, rgb(93, 205, 255), rgb(181, 112, 255));
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0,0,0,0.25), 0 1px 10px rgba(0,0,0,0.22);
}

.sample__duration {
  padding-left: 0.4vw;
  padding-top: 0.23vw;
  font-family: monospace;
  font-size: 0.7rem;
  color:  rgb(100, 123, 133);

}